.skip-link
  position: absolute
  left: -9999px
  width: 1px
  height: 1px
  overflow: hidden
  font-family: $primary-font
  font-size: 13.6px
  letter-spacing: .1em
  font-weight: 400
  text-transform: uppercase
  text-decoration: none
  -webkit-font-smoothing: antialiased
  transition: top .4s ease-in-out, left .4s ease-in-out

  &:focus
    position: fixed
    top: 0
    left: 50%
    transform: translateX(-50%)
    width: auto
    height: auto
    overflow: visible
    z-index: 9999
    background-color: $primary-color
    color: #ffffff
    border: 1px solid $primary-color
    padding: 5px 30px
    line-height: 23px
    outline: 2px solid $bg-color
    outline-offset: 2px
