/*FONTS*/
@font-face
  font-family: 'TheMixBoldItalic'
  src: url('../fonts/themix_b7_bold_italic-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'WalsheimThin'
  src: url('../fonts/GT-Walsheim-Thin.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

$title-font: 'TheMixBoldItalic', sans-serif
$primary-font: 'WalsheimThin', sans-serif